version: '3'

services:
  payload:
    image: node:22.12.0-alpine
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install --frozen-lockfile && pnpm build && pnpm start"
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'

volumes:
  data:
  # pgdata:
  node_modules:
