version: '3'

services:
  payload:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./media:/app/media
      - ./cms.db:/app/cms.db
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
